.box {
  background-color: #38373a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 8px;
  padding: 8px;
  position: relative;
  margin-top: 20px;
  border-radius: 20px;
}
.box__images {
  border-radius: 26px;
}
.box::after {
  content: "";
  width: 82px;
  height: 82px;
  background-color: #38373a;
  position: absolute;
  top: -40px;
  left: calc(50% - 41px);
  transform: rotate(45deg);
  border-radius: 21px;
  z-index: -1;
}
