.contenedor {
    width: 428px;
    height: 614px;
    background-color: #27262A;
}

.boton__rojo {
    border: 1px solid rgba(255, 58, 58, 0.54);
    background-color: #27262A;

}

.boton__azul{
    border: 1px solid rgba(41, 152, 255, 0.74);
    background-color: #27262A;

}

.boton__naranja{
    border: 1px solid rgba(255, 229, 89, 0.38);
    background-color: #27262A;


}
.contenedor__cont{
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}
.contenedor__cont__h5 {
    color: white;
    text-align: left;
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    height: 20px;

    max-height: 50px;
}

.boton {
    display: flex;
    width: 374px;
    height: 60px;
    padding: 8px 46px 12px 46px;
    align-items: center;
    gap: 20px;
    border-radius: 9px;
    background-color: #27262A;



}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.botones__red {
    color: white;
}

.botones__hashtag{
    color: blue;
}