.MainScreen {
    background-color: #f61616;
    width: 428px;


}

.MainScreen__Img {
    width: 428px;
    height: 845px;
    
}

.MainScreen__Follow__Menu{
    width: 428px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #888888;
}

.MainScreen__Inf{
    width: 428px;
    background-color: #d50f0f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}